/* Default styles that will carry to the child style sheet */

html,body{
   background...
   font...
   color...
}

@media (max-width: 600px) {
/* 633px grid (88x6 col, 21x5 gut; 88+21+88+21+88+21+88+21+88+21+88) */
  .narrow-hidden {
    display: none;
  }
  #go_to_filters, #filter-button {
    display: block;
    color: black;
    padding: .25em;
    float: right;
    text-align: center;
    top: 15px;
    right: 40px;
  }
  #work-filters {
    margin: 0;
    max-width: 95%;
    top: 0;
    right: -16em;
    width: 16em;
    z-index: 400;
  }
  .actions a, .actions a:link, .action, .action:link, .actions input, input[type="submit"], button, .current, .actions label {
    background: #eee;
    color: #444;
    width: auto;
    font-size: 100%;
    line-height: 1.286;
    height: 1.286em;
    vertical-align: middle;
    display: inline-block;
    padding: .25em .75em;
    white-space: nowrap;
    overflow: visible;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #bbb;
    border-bottom: 1px solid #aaa;
    background-image: -moz-linear-gradient(#fff 2%,#ddd 95%,#bbb 100%);
    background-image: -webkit-linear-gradient(#fff 2%,#ddd 95%,#bbb 100%);
    background-image: -o-linear-gradient(#fff 2%,#ddd 95%,#bbb 100%);
    background-image: -ms-linear-gradient(#fff 2%,#ddd 95%,#bbb 100%);
    background-image: linear-gradient(#fff 2%,#ddd 95%,#bbb 100%);
    border-radius: .25em;
    box-shadow: none;
  }
}
@media (min-width: 1300px) {

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /* Styles */
  .narrow-shown hidden{
    display: in-line;
  }
  form.narrow-hidden filters {
    margin: 0;
    max-width: 95%;
    position: absolute;
    top: 0;
    right: -16em;
    width: 16em;
    z-index: 400
    max-width: 95%;
    display: none;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */

}
/*.header {
  padding: 40px;
  text-align: center;
  background: #881c1c;
  color: white;
  font-size: 20px;
}*/
.header h1, .header p {
  position: relative;
  top: 0px;
  left: 25px;
}
.header .logo {
  float: left;
  height: 100px;
}
.header {
  position: relative;
  background: #881c1c;
  color: white;
  padding: 20px 25px;
  margin: -10px;
}
.header p {
  font-size: 1.1em;

}
h1,h2,h3{}
p, blockquote, pre, code, ol, ul{}

/* Structural elements */
#wrapper{
  width: 80%;
  margin: 0 auto;

  background: #fff;
  padding: 20px;
}

#content{
  width: 54%;
  float: left;
  margin-right: 3%;
}

#sidebar-left{
  width: 20%;
  float: left;
  margin-right: 3%;
}

#sidebar-right{
  width: 20%;
  float: left;
}
ul li {
  padding: .15em 0em;
}
ul, li
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
dt button{
  font-family: serif;
  font-size: 1em;
  padding-top: 0px;
  padding-bottom: 0px;
}

span.question {
  background: #d1e1ef;
  border-color: #2a547c;
  box-shadow: -1px -1px 2px rgba(0,0,0,.25);
}

span.symbol {
  color: #2a547c;
  border: 1px solid;
  vertical-align: super;
  border-radius: .75em;
}

span.symbol span {
  padding: .425em;
  font-size: .9em;
}

.main {
  display: inline;
  padding: .5em 2.5em 3.5em;
  position: relative;
  min-height: 450px;
}
#content {
  padding-left: .75em;
}
table {
  border: 1px solid black;
  border-radius: .25em;
}
.tr-header {
  text-align: center;
}
.tr-header th, .tr-header td {
  border-bottom: 1px solid #ddd;
}
.t-header {
  font-weight: bold;
  border-right: 1px solid #ddd;

}
/*begin trying collapsibles*/
.filters .collapsed:after,.filters .expanded:after {
    content: none
}

.hidden,body .hidden,.actions .hidden,.actions a.hidden,#dashboard .hidden {
    display: none
}

.collapsed:after {
    content: " \2193"
}

.expanded:after {
    content: " \2191"
}

.filters .expander {
    background-image: url("images/arrow-right.gif") left center no-repeat;
    border: none;
    color: #2a2a2a;
    height: 100%;
    min-height: 1.786em;
    outline: none;
    padding: .25em 0 .25em 14px;
    text-align: left;
    white-space: normal;
    border-radius: 0;
    box-sizing: border-box
}

.filters .expander:focus {
    outline: 1px dotted
}

.filters .expanded .expander {
    background-image: url("images/arrow-down.gif")
}

.filters .expandable,.filters .group dd.autocomplete {
    margin: 0
}
/*end trying collapsibles*/

form.filters{max-width:30%;float:right;}.filters h4{display:inline;font-weight:700}.filters dl,.filters dt{padding:0}.filters dt,.filters dd,.filters input[type="submit"],.filters input[type="button"],.filters .expander{width:100%}.filters input+label{padding-left:0}.filters dl dl{border:0;margin:0;padding:0;background:none;box-shadow:none}.filters .submit,.filters .group{margin:0;padding:0}.filters .submit input{height:100%;margin:1em 0;min-height:1.286em;padding-left:0;padding-right:0;text-align:center;white-space:normal}.filters dt.heading{margin-top:1.929em}.filters .expander{background:url("images/arrow-right.gif") left center no-repeat;border:none;color:#2a2a2a;height:100%;min-height:1.786em;outline:none;padding:.25em 0 .25em 14px;text-align:left;white-space:normal;border-radius:0;box-sizing:border-box}.filters .expander:focus{outline:1px dotted}.filters .expanded .expander{background-image:url("images/arrow-down.gif")}.filters .expandable,.filters .group dd.autocomplete{margin:0}.filters .group dt.search,.filters .range dt{border-bottom:none;padding:.25em 0}.filters .group dt.bookmarker{border-top:1px solid #f3efec;margin-top:.643em;padding-top:.643em}.filters .more dd.search,.filters .more dt.search,.filters .range dd{margin-top:0}.filters .warning{font-weight:500}.filters .collapsed:after,.filters .expanded:after{content:none}.filters .sort+.heading{margin-top:1.286em}
/*.filters [type="checkbox"],.filters [type="radio"]{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;left:auto}@supports (overflow:-webkit-marquee) and (justify-content:inherit)*/ {
  .filters [type="checkbox"], .filters [type="radio"] {
    left: -2em;
    position: relative;
  }
.filters .indicator:before{background:#eee;color:#aaa;display:inline-block;border:1px solid;margin-right:.25em;text-align:center;background-image:-moz-linear-gradient(top,#fff 2%,#ddd 95%,#bbb 100%);background-image:-webkit-linear-gradient(top,#fff 2%,#ddd 95%,#bbb 100%);background-image:linear-gradient(#fff 2%,#ddd 95%,#bbb 100%)}.filters input:focus+.indicator+span{outline:1px dotted}.filters input:checked+.indicator:before{border-color:#2a2a2a}.filters input:checked+.indicator+span{font-weight:700}.filters [type="checkbox"]+.indicator:before{content:" \2713";padding:0 .25em;border-radius:.25em}.filters [type="checkbox"]:checked+.indicator:before{background:#deffde;color:green;background-image:-moz-linear-gradient(top,#fff 2%,#d1f0d1 95%,#b3ccb3 100%);background-image:-webkit-linear-gradient(top,#fff 2%,#d1f0d1 95%,#b3ccb3 100%);background-image:linear-gradient(#fff 2%,#d1f0d1 95%,#b3ccb3 100%)}.filters [type="radio"]+.indicator:before{content:"";width:1em;height:1em;vertical-align:-.125em;border-radius:1em}.filters [type="radio"]:checked+.indicator:before{background:#fff;background-image:-moz-radial-gradient(center,ellipse cover,rgba(0,0,0,.8) 0%,rgba(0,0,0,.8) 11%,rgba(0,0,0,0) 23%) , -moz-linear-gradient(top,#bbb 0%,#ddd 5%,#fff 100%);background-image:-webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,.8) 0%,rgba(0,0,0,.8) 11%,rgba(0,0,0,0) 23%) , -webkit-linear-gradient(top,#bbb 0%,#ddd 5%,#fff 100%);background-image:radial-gradient(ellipse at center,rgba(0,0,0,.8) 0%,rgba(0,0,0,.8) 11%,rgba(0,0,0,0) 23%) , linear-gradient(to bottom,#bbb 0%,#ddd 5%,#fff 100%)}.filters .exclude [type="checkbox"]+.indicator:before{content:" \2715"}.filters .exclude [type="checkbox"]:checked+.indicator:before{background:#fedede;color:red;background-image:-moz-linear-gradient(top,#fff 2%,#efd1d1 95%,#d8bebe 100%);

